@import "node_modules/normalize.css/normalize";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
header{
  background: #94a6c3;
  padding: 10px 0;
  color: #264988;
  font-size: 15px;
  font-family: "Verdana", Arial;
  width: 100%;
}
header a{
  color: #264988;
  text-decoration: none;
}
header .header_test{
    font-size: 15px;
    font-family: "Verdana", Arial;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
header .adrres img{
  margin-right: 10px;
}

header .tel img{
  margin-right: 10px;
  margin-left: 25px;
}
header .header_right_side{
  display: flex;
  align-items: center;

}
header .header_right_side .adrres,header .header_right_side .tel{
  display: flex;
  align-items: center;
}


.wrapper{
  min-width: 100vw;
  min-height: 100vh;
  background: url("../img/bg.png")0 0 no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.wrapper .logo{
  width: 233px;
  height: 241px;
  margin-top: 40px;
}
.wrapper .order_back{
     font-size: 21px;
    font-family: "Verdana", Arial;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 60px;
}
.w-100{
  flex: 100%;
}
.form{
  display: flex;
  flex-flow: row wrap;
  width: 701px;
}

.form .group_input{
  height: 30px;
  width: 48%;
  margin-bottom: 10px;
  margin-left: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding: 22px 15px;
}
.form .group_input:first-child{
  margin-right: 4%;
}

.form .group_input span{
  margin-right: 8px;
    font-size: 20px;
    font-family: "Verdana";
    color: #676767;
    line-height: 1.2;
  text-shadow: 0 0 2px black;
}
.form .group_input .bcg_imput{
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255,0.2);
  background-color: rgba(255, 255, 255,0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.form .group_input input  {
  font-family: "Verdana";
  position: relative;
  z-index: 5;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  width: 100%;
  padding-left: 20px;
}

::placeholder{
  margin-right: 8px;
  font-size: 20px;
  font-family: "Verdana";
  color: #676767;
  line-height: 1.2;
  text-shadow: 0 0 2px black;
}

.form .group_input  .tel_input{
  border-bottom: none;
}
.form .group_input .name{
  width: 100%;
}
.form .send_form{
  width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255,0.2);
  background-color: rgba(148, 166, 195, 0.54);
  height: 40px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s;
  outline: none;
  font-family: "Verdana";
}
.form .send_form:hover{
  background-color: rgba(148, 166, 195, 0.8);
}
.soti {
  margin-bottom: 20px;
}
.soti img{
  margin-top: 30px;
}
.soti a:first-child{
  margin-right: 15px;
}
.soti a:last-child{
  margin-right: 15px;
}

.form .group_input label.error{
  position: absolute;
  top: -15px;
  left: 50%;
  color: #da2f2f;
  font-weight: bold;
  transform: translate(-50%);
}
#answers{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
#answers span{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(15, 88, 117, 0.86);
  text-shadow: 0 0 3px black;
  font-size: 50px;
  font-weight: bold;
}


/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-height : 700px) {
body{
  overflow-x: hidden;
  overflow-y: auto;
}
  .wrapper{
    background-size: cover;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  header .header_test{
    display: none;
  }
  .container{
    justify-content: center;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 710px) {
.form{
  flex-flow: column;
  align-items: center;
  width: 311px;
}
  .form .group_input{
    width: 100%;
    margin-bottom: 17px;
  }
  .form .group_input span{
    font-size: 17px;
  }
  .form .group_input input{
    font-size: 19px;
  }
  header .header_right_side{
    flex-flow: column;
  }
  .form .group_input:first-child{
    margin-right: 0;
  }
  header .header_right_side .adrres{
    margin-bottom: 10px;
  }
  .wrapper .order_back{
    margin-bottom: 20px;
  }
  .wrapper .logo {
    width: 115px;
    height: 120px;
    margin-top: 40px;
  }
  .wrapper{
    background-size: cover;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.soti{
  display: flex;
  flex-flow: column;
  margin-bottom: 40px;
}

  header{
    font-size: 13px;
  }
  header .header_right_side{
    align-items: flex-start;
  }
  header .tel img{
    margin-left: 5px;
  }
  .container{
    padding: 0 15px;
  }
  #answers span{
    font-size: 34px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}